:root {
    --black: #000;
    --white: #fff;

}

@font-face {
    font-family: GTA-1;
    src: url(/assets/Font/GT-America-Standard-Medium.woff2);
    
    font-style: medium;

}

@font-face {
    font-family: GTA;
    src: url(/assets/Font/GT-America-Standard-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {

    font-family: 'GTA', sans-serif;
    font-weight: bold;
}

a, p, span, strong{
    font-family: 'GTA-1',sans-serif;
    letter-spacing: .3px
}


* {

    margin: 0;
    padding: 0;
    border: none;
    font: inherit;   

}
 /* NAVBAR*/

/* Estilo general del header */
.encabezado {
    height: 49px;
    background-color: #fff;
    border-bottom: .5px solid #ccc; /* Línea separadora */
}

/* Contenedor de la barra de navegación */
.contenedor-navegacion {
  
    max-width: 1680px; /* Ancho máximo del contenido */
    margin: 0px auto; /* Centra el contenido */
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* Estilo para el logo */
.logo-contenedor img {
    position: relative;
    display: flex;
    align-items: center;
    width: 8rem; /* Tamaño del logo */
}

.left-nav {
    display: flex;
    padding: 0px 0px 0px 10px;
}
/* Estilo de la barra de navegación */
.navegacion ul {
    padding: 0px 15px 0px 100px;
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
    height: 100%;
    font-size: bold;
    
}

.navegacion li {
    margin: 0px 6px;

}

.navegacion a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    font-size: 11px;
    transition: color 0.3s;
}

.navegacion a:hover {
    color: #000;
}

/* Estilo para los iconos */
.iconos img {
    width: 20px; /* Tamaño de los iconos */
    height: auto;
    padding: 5px 10px; /* Espacio entre los iconos */
    cursor: pointer;
   
}

/* Alineacion de los iconos a la derecha */
.iconos {
    padding: 0px 20px;
    margin: 0px 0px 0px auto;
    display: flex;
    align-items: center;
}

@media (max-width: 1200px) {
    .navegacion  {
        display: none; /* Oculta el menu en móviles */
        
    }
    
}

/* Estilo para el botón de cierre */
.menu-nav linea{
    height: 2px;
    background-color: #333;
    margin: 3px;
    
}

/* Estilo para el botón de cierre */
.menu-nav {
    display: none;
    flex-direction: column;
    gap: 5px;
    
}

.menu-nav .linea{
    width: 20px;
    height: 3px;
    background-color: #000;
    
}

.menu-nav .linea-2{
    width: 15px;
    height: 3px;
    background-color: #000;
    margin: 0px 0px 0px 5px;
    
}

@media (max-width: 1200px) {
    .menu-nav  {
        display: flex; 
        
    }
    .iconos .user {
        display: none;
    }
    
}


.sidebar{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    
}


.sidebartop{
    height: 49px;
    background-color: #fff;
    border-bottom: .5px solid #ccc; /* Línea separadora */
}


.sidebar-logo img {
    position: relative;
    display: flex;
    align-items: center;
    width: 8rem; /* Tamaño del logo */
    padding: 15px 0px 0px 15px;
}

.side-menu ul{
    padding: 50px 16px 0px;
    
    display: flex;   
    flex-direction: column;
    gap: 35px;
    list-style: none;
}

.side-menu a:hover {
    color: #000;
}

.side-menu a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    font-size: 16px;
    transition: color 0.3s;
}

.side-menu li {
    margin: 0px 3px;

}
    
